<!DOCTYPE html>
{% extends 'user/header.html' %}

{% block a %}

<h1>this is new html</h1>

<ul>
    {% for a in object_list %}
    <li>
        <a href="{% url 'detail' a.id %}">{{a.actor}}
        </a>
        <form action="{% url 'movie-del' a.id %}" method="post" style="display: inline">
            {% csrf_token %}
            <!--<input type="hidden" name="movie_id" value="{{ movie_id }}"/>-->
            <button type="submit" class="btn btn-default btn-sm" />
                <span class="glyphicon glyphicon-trash"></span>

            </button>

        </form>

         <form action="{% url 'movie-up' a.id %}" method="post" style="display: inline">
            {% csrf_token %}
            <!--<input type="hidden" name="movie_id" value="{{ movie_id }}"/>-->
            <button type="submit" class="btn btn-default btn-sm" />
                <span class="glyphicon glyphicon-paperclip"></span>

            </button>

        </form>
    </li>
     {% endfor %}
</ul>
{% endblock %}
